/* use flexbox numbers, ex."flex: 2" to size the boxes
rather than px or % to size each of the boxes.

Your strategy is to continuously break each section
down into smaller sections. Do not start from the column
on the left because it is the hardest one. It has a 
tricky layout. The second column is probably the easiest.
*/
.body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    margin: 0 auto;
}
/* check out chessboard to findout why background doesn't
change and the painting won't center */
.frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    height: 85vh;
    border: 2px solid black;
}
.section {
    flex: 1;
    border: 1px solid black;
}
/* First Section */
.first.section {
    background: white;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.top.first.section {
    background: white;
    flex: 1;
    flex-direction: row;
}
.top.first.section.left {
    background: white;
    flex: 6;
    flex-direction: row;
}
.top.first.section.right {
    background: white;
    flex: 10;
}

/* First Section Bottom */
.first.section.bottom {
    background: white;
    flex: 9;
    display: flex;
    flex-direction: column;
}
.first.section.bottom.up {
    background: white;
    flex: 4;
    display: flex;
    flex-direction: row;
    border-bottom: 20px;
}
.first.section.bottom.up.left {
    background: white;
    flex: 1;
    flex-direction: column;
}
.first.section.bottom.up.left.s1 {
    background: white;
    flex: 1;
}
.first.section.bottom.up.left.s2 {
    background: white;
    flex: 1;
    background: white;
    border-bottom: 0px;
}
.first.section.bottom.up.right {
    flex: 3;
    background: red;
    border:
}
.first.section.bottom.down {
    background: white;
    flex: 5;

}

.first.bottom.section.down {
    flex-direction: row;
    border-top: 0px;
}
.first.bottom.section.down.left {
    flex: 3;
    flex-direction: column;
}
.first.bottom.section.down.left.a1 {
    flex: 4;
    flex-direction: row;
}
.first.bottom.section.down.left.a1.b1 {
    flex: 15;                       /* may need readjustment */
    flex-direction: column;
}
.first.bottom.section.down.left.a1.b1.c1 {
    flex: 1;
    border-top: 0px;
    border-left: 0px;
    background: white;
}
.first.bottom.section.down.left.a1.b1.c2 {
    background: yellow;
    flex: 3;
}
.first.bottom.section.down.left.a1.b2 {
    flex-direction: column;  /* may need readjustment */
    flex: 20;
}
.first.bottom.section.down.left.a1.b2.c1 {
    background: black;   
    flex: 1;
}
.first.bottom.section.down.left.a1.b2.c2 {   
    flex: 1;
}
.first.bottom.section.down.left.a2 {
    flex: 1;
}
.first.bottom.section.down.right {
    flex: 2;
    flex-direction: column;
}
.first.bottom.section.down.right.s1 {  
    flex: 1;
    flex-direction: column;
}
.first.bottom.section.down.right.s2 {
    flex: 1;
    flex-direction: column;
}
.first.bottom.section.down.right.s3 {
    background: black;
    flex: 1;
    flex-direction: column;
}
.first.bottom.section.down.right.s4 {
    flex: 2;
    flex-direction: row;
}
.first.bottom.section.down.right.s4.one {
    background: yellow;
}

/* Second Section Top*/
.second.section {
    background: white;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.top.second.section {
    display: flex;
    flex-direction: row;
}

.top.second.right.section {
    display: flex;
    flex-direction: column;
}
.top.second.right.section.one {
    background: blue;
    flex: 2;
}
.top.second.right.section.two {
    background: red;
    flex: 2;
}
.top.second.right.section.three {
    flex: 1;
}

.top.second.left.section {
    display: flex;
    flex-direction: column;
}
.top.second.left.section.one {
    flex: 1;
    background: yellow;
}
.top.second.left.section.two {
    flex: 2;
    background: yellow;
}
.top.second.left.section.three {
    flex: 2;
    background: white;
    flex-direction: row;
}


/* Second Section Bottom */
.bottom.second.section {
    display: flex;
    flex-direction: row;
}
.bottom.second.section.left {
    flex-direction: column;
}
.bottom.second.section.left.one {
    flex: 1;
}
.bottom.second.section.left.two {
    flex: 2;
    background: blue;
}
.bottom.second.section.left.three {
    flex: 2;
    background: red;
}
.bottom.second.section.right {
    flex-direction: column;
}
.bottom.second.section.right.one {
    flex: 2;
    flex-direction: row;
}

.bottom.second.section.right.two {
    flex: 2;
    background: yellow;
}
.bottom.second.section.right.three {
    flex: 1;
    flex-direction: row;
}
.bottom.second.section.right.three.east {
    flex: 1;
    background: black;
}

/* Third Top Section */
.third.section {
    background: white;
    flex: 1;
    display:flex;
    flex-direction: column;
}
.third.very.top.section {
    background: white;
    flex: 1;
    display: flex;
    flex-direction: row;
}
.third.very.top.left.section{
    flex: 6;
}
.third.very.top.left.section.s1 {
    flex: 1;
    background: yellow;
}
.third.very.top.left.section.s2 {
    background: black;
    flex: 1;
}
.third.very.top.section.right {
    background: white;
    flex: 10;
}

/* Third Middle left Section */
.third.middle.section {
    background: white;
    flex: 8;
    flex-direction: row;
}
.third.middle.left.section {
    background: white;
    flex: 3;
    flex-direction: column;
}
.third.middle.left.top.section {
    flex-direction: row;
}
.third.middle.left.top.section.up.s1 {
    background:yellow;
}
.third.middle.left.top.section.up.s2 {
    background:black;
}
.third.middle.left.top.section.west {
    flex-direction: column;
}
.third.middle.left.top.section.east {
    flex-direction: column;
}
.third.middle.left.top.section.east.down {
    background: black;
}
.third.middle.left.bottom.section {
    background: blue;
}

/* Third Middle Right section */
.third.middle.right.section {
    background: white;
    flex: 1;
    flex-direction: column;
}
.third.middle.right.section.s1 {
    background: yellow;
    flex: 3;
}
.third.middle.right.section.s2 {
    background: white;
    flex: 3;
}
.third.middle.right.section.s3 {
    background: white;
    flex: 1;
}
/* Third Bottom Section */
.third.very.bottom.section {
    background: white;
    flex: 1;
    flex-direction: row;
}
.third.very.bottom.section.left {
    background: white;
    flex: 10;
}
.third.very.bottom.section.right {
    background: white;
    flex: 6;
}