body {
    
    border: 10px solid black;
    display: flex;
}

header h1 {
    display: flex;
    border: 2px black;
    background: skyblue;
}

div {
    background: violet;
}

menu {
    background: violet;
}
main {
    background: salmon;
 
}

footer {
    background: skyblue;
}